{
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"]
}
